@import "base";
.container {
  background: transparent;
  padding-top: 1.5rem;
  width: 100%;
}
.alignCenter {
  display: flex;
  align-items: center;
  height: 100%;
}
.title {
  color: #fff;
}
.secondary {
  color: #fff;
}

.progress {
  margin-top: 5rem;
}

.or {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

.login {
  @extend .flex-column-center;
  justify-content: center;
  margin-top: 2rem;
  &Link {
    // color: $linkBlue;
    font-size: 1.2rem;
    &:hover {
      // color: $materialBlue;
    }
  }
  &Label {
    @extend .flex-column-center;
    justify-content: center;
    font-size: 1.3rem;
    margin-top: 2rem;
    color: $mediumGray;
  }
}

.providers {
  margin-top: 1rem;
}
