:global {
  @import "base";
  @import "device-sizes";
  @import "standard-classes";
  @import "~normalize.css/normalize";
  @import url("https://fonts.googleapis.com/css?family=Montserrat:100,400,500,700");
  @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: $background;
    color: #fff;
    font-family: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    @include desktop {
      font-size: 15px;
    }

    @include mobile {
      font-size: 12px;
    }
  }
  a {
    text-decoration: none !important;
    &:visited {
      text-decoration: none;
      color: inherit;
    }
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  [type="button"] {
    -webkit-appearance: none !important;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.5) inset !important;
}
button {
  font-family: "Montserrat", sans-serif;
}
.btn {
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
