@import "base";

.cardWrapper {
  margin-top: 15%;
}

.closeNew {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 15px;
  font-size: 28px;
}
.card {
  form {
    text-align: left;
  }
  position: relative;
  text-align: center;
  color: #fff;
  border-radius: 6px;
  background: rgba(13, 133, 200, 0.2);
  padding: 60px 45px;
}

.actionContainer {
  margin-bottom: 35px;
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.formField {
  width: 100% !important;
  label {
    color: rgba(255, 255, 255, 0.3) !important;
  }
  div {
    color: rgba(255, 255, 255, 0.5) !important;
  }
  input {
    color: #fff !important;
  }
}
