@import "base";

.container {
  @extend .flex-column;
  margin: 1.5rem 0.2rem;
  width: 100%;
}
.formField {
  color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
  border: 0;
  box-shadow: none !important;
  border-bottom: 1px solid rgba(235, 235, 235, 0.3);
  border-radius: 0;
  &:focus {
    border-color: rgba(5, 192, 237, 0.5);
  }
}
.submitBtn {
  background: #05c0ed;
  border: 0;
  color: #fff;
  padding: 5px 25px;
  @include mobile {
    width: 80%;
  }
  &:disabled {
    &:hover {
      background-color: darken(#05c0ed, 15%);
      color: "#fff";
    }
  }
  &.btn-default {
    &:hover {
      color: "#fff" !important;
      background-color: darken(#05c0ed, 5%);
    }
  }
}
.inlineContainer {
  @extend .flex-row;
  justify-content: flex-start;
  @include mobile {
    flex-direction: column;
  }
}

.submit {
  @extend .flex-column-center;
  text-align: center;
}

.options {
  @extend .flex-column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 25px;
  @include mobile {
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
  }
}
.remember {
  @extend .flex-row;
  flex-basis: 50%;
  @include mobile {
    display: none;
  }
}
.secondaryLink {
  font-size: 0.8rem;
  margin-bottom: 5px;
  color: #fff;
  &:visited {
    color: #fff;
  }
  .hover {
    color: "#a7a7a7";
    text-decoration: underline;
  }
  @include mobile {
    font-size: 1rem;
  }
}
