@import "base";

.container {
  background: transparent;
  padding-top: 1.5rem;
  width: 100%;
}
.alignCenter {
  display: flex;
  align-items: center;
  height: 100%;
}
.title {
  color: #fff;
}
.secondary {
  color: #fff;
}
.or {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}
.signup {
  @extend .flex-column-center;
  justify-content: center;
  margin-top: 2rem;
  &Link {
    // color: $linkBlue;
    font-size: 1.2rem;
    &:hover {
      // color: $materialBlue;
    }
  }
  &Label {
    font-size: 1.3rem;
    font-size: 1rem;
    font-weight: bold;
    color: $mediumGray;
    font-weight: 400;
  }
}
.providers {
  margin-top: 1rem;
}
